*,*::before, *::after{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: "Montserrat", sans-serif;
}
.header{
    display: flex;
    height: 84px;
    align-items: center;
}
.logo{
    margin-right:40px;
    font-size:12px;
    font-weight:700;
    align-items: center
}
.container{
    width: 1151px;
    margin:0 auto;
    display: flex;
    align-items: center;
}
.nav{
    font-weight: 400;
    font-size: 12px;
    color: #2A2D46 ;
    align-items: center;
}
.nav-link{
    margin-right: 32px;
    color: #2A2D46 ;
    text-decoration: none;
}
.nav-link:lat-child{
    margin-right: 0px;
    align-items: center;
    
}
.nav-link:hover{
    color: #3145FF ;
}

.logo__img{
    display: block;
    margin-right: 10px;
}
.button{
    text-decoration: none;
    border: 1px solid #EB2D66;
    padding: 6px 14px 6px;
    margin-right:81px;   

}
.text_button{
    font-weight: bold;
    font-size: 11px; 
    color: #EB2D66 ;
}
.phone{
    margin-left: 29px;
    font-weight: bold;
    margin-right: 34px;
    font-size: 13px;

}

.money{
    align-items: center;
   
    width: 22px;
    height: 23px;
    display: flex;
}
.prof-skills__title{
    color: #3145FF ;
    font-weight: bold;
    font-size: 12px;
}
.prof-skills__desc{
    color: #2A2D46 ;
    font-size: 12px;
    font-weight: 300; 
}
.money__title{
    margin-left: 15px;
    color: #2A2D46 ;
    font-size: 12px;
    font-weight: bold;
    margin-right: 11px;
    
}
.triangle__img{
    margin-top: -2px;
    display: block;
}

/*главная страница*/
.main{

}
.main-container{
    width: 1329px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 21;
    padding-bottom: 96;
    align-items: center;
}
.content-main{
    width: 544px;
    margin-left: 80px;
}
.image-main{

}
.main-text{
    
    margin-top: 0;
    margin-bottom: 25px;
    font-weight: bolder;
    font-size: 36px;
    color: #2A2D46 ;
}
.content-main p{
    font-size: 18px;
    font-weight: 400;
    color: #2A2D46 ;
    line-height: 1.42;
}
.button-main{

}